.token-border{
    border: 2px solid #2d2daf96;
    border-radius: 10px;
    padding: 5px;
}
.btn-close{
    float: right;
    font-size: 2rem;
    color:red;
    background: unset;
}
.btn-close:hover{
    color:red;
    opacity: .8;
    border: unset;
}
